﻿@using System.Globalization;
@model BookShop.BLL.ConfigurationModel.ProductModel.ProductViewModel

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    string imgUrl;
}
<style>
    .anh {
        background-color: white;
        border-radius: 7px;
        padding: 15px 0px;
    }

    .Gia {
        display: flex;
    }

    .wrapper {
        border: 1px solid rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer;
    }

        .wrapper span {
            width: 100%;
            text-align: center;
            font-weight: 600;
        }

            .wrapper span.num {
                font-size: 20px;
                border-left: 2px solid rgba(0,0,0,0.2);
                border-right: 2px solid rgba(0,0,0,0.2);
                pointer-events: none;
            }

    .mua {
        margin-top:20%;
        justify-content:end;
        display: flex;
    }

        .mua .m1 {
            background-color: white;
            border-color: #C92127;
            color: #C92127;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            margin-left: 10px
        }

        .mua .m2 {
            margin-left: 10px;
            border-radius: 5px;
            background-color: #C92127;
            color: white;
            font-weight: 600;
            border-color: #C92127;
        }

    .r {
        width: 250px;
    }

    .thongtinvesach {
        margin-top: 30px;
        background-color: white;
        border-radius: 7px;
        padding: 7px
    }

    .col-4 .a1 {
        width: 95%;
        height: 95%;
    }

    .danhgia {
        margin-top: 20px;
        background-color: white;
        border-radius: 10px;
    }

    .Giaban h3 {
        color: red;
    }

    .Giagoc p {
        margin-left: 15px;
        color: rgba(0,0,0,0.2);
        text-decoration: line-through;
    }
</style>
<div class="container">
    <div class="anh row">
        <div class="col-4">
            @{
                imgUrl = Model.imageViewModels.FirstOrDefault().ImageUrl;
            }
            <img class="a1" src="@imgUrl" alt="ảnh sản phẩm" style="max-width: 100%" />
        </div>
        <div class="col-8">
            <div class="tensach">
                <h3>
                    @Html.DisplayFor(model => model.Name)
                </h3>
                <div class="row">
                    <div class="col-6">
                        <p>Nhà cung cấp: @Html.DisplayFor(model => model.Description)</p>
                        <p>Nhà xuất bản: Kim Đồng</p>
                    </div>
                    <div class="col-6">
                        <p>Tác giả: Lê Quang Khánh</p>
                        <p>Hình thức bìa: Bìa Mềm</p>
                    </div>
                </div>
                <div class="danhgia">
                    <a asp-area="" asp-controller="Home" asp-action="DanhGia">Đánh Giá</a>
                    <h6>Sản phẩm bao gồm</h6>
                    <ul>
                        @foreach (var item in Model.bookViewModels)
                        {
                            <li>
                                @item.Title - @string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.ImportPrice)
                            </li>
                        }
                    </ul>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="Gia">
                            <div class="Giaban">
                                <h3>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.Price)</h3>
                            </div>
                            <div class="Giagoc">
                                <p>30000 đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div id="quantity" class="form-group">
                                    <div style="display: flex">
                                        Số lượng:
                                        <input id="quantityInput" class="form-control" min="1" max="@Model.Quantity" value="1" type="number"
                                               style="width: 75px; height: 25px; border-bottom: 1px solid black;
border-left: none; border-right: none;border-top:none; border-radius: 0px; text-align: center" />
                                        @Html.DisplayFor(model => model.Quantity) sản phẩm còn lại
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mua">
                    <button id="product" class="btn btn-outline-danger">
                        <i class="fa-solid fa-face-kiss-wink-heart"></i> Thêm Yêu Thích
                    </button>
                    <input type="button" class="m1" id="addToCart" value="Thêm Vào Giỏ Hàng" data-bs-toggle="modal" data-bs-target="#spModal" />
                    <input type="button" id="buyNow" class="m2" value="Mua" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="spModal">
    <div class="modal-dialog r">
        <div class="modal-content group-tabs">

            <!-- Modal Header -->
            <div class="modal-header nav nav-tabs" role="tablist">
                <img class="a1" src="@imgUrl" alt="ảnh sản phẩm" style="max-width: 100%" />
                Sản Phẩm đã được thêm vào giỏ hàng của bạn
            </div>

            <!-- Modal body -->
            <!-- Modal footer -->
            <div class="modal-footer group-tabs">
                <a class="btn btn-primary" asp-controller="Cart" asp-action="CartDetails">Đến giỏ hàng <i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('addToCart').addEventListener('click', function () {
        var quantity = document.getElementById('quantityInput').value;
        $.ajax({
            url: '/Cart/AddToCart?id=@Model.Id',
            type: 'POST',
            data: { quantity: quantity },
            success: function (result) {
                if (result.success) {
                    // Xóa thành công, thực hiện các hành động bạn muốn
                    //alert('Đã thêm vào giỏ hàng.');
                    // Ví dụ: cập nhật giao diện hoặc làm mới danh sách sản phẩm
                } else {
                    alert('Xóa thất bại: ' + result.errorMessage);
                }
            },
            error: function (error) {
                alert('Có lỗi xảy ra: ' + error.responseText);
            }
        });
    });
    document.getElementById('buyNow').addEventListener('click', function () {
        var quantity = document.getElementById('quantityInput').value;
        var result = "@Url.Action("AddToCart", "Cart")?id=@Model.Id&quantity=" + quantity;
        var url = "@Url.Action("CreateOnlineOrder", "Order")?id=@Model.Id&quantity=" + quantity
        window.location.href = url;
    });
</script>