@using BookShop.BLL.ConfigurationModel.PromotionModel;
@using BookShop.BLL.IService;
@using BookShop.DAL.Entities;
@using Microsoft.AspNetCore.Identity;
@using System.Globalization;
@inject UserManager<Userr> UserManager;
@inject IWalletpointService walletService;

@{
	ViewData["Title"] = "Đổi phiếu khuyến mãi";
	Layout = "_LayoutUser";
	var userLogin = await UserManager.GetUserAsync(User);
	var wallet = await walletService.GetById(Model.Id);
	List<PromotionViewModel> promotionList = ViewBag.Promotion;
}

@if (promotionList != null)
{

	<div style="border: 3px solid #c0c0c0; border-radius: 10px;">
		<div class="row">
			<div class="12">
				<span class="fw-bold">Số điểm hiện có: @wallet.Point</span>
			</div>
			@foreach (var item in promotionList)
			{
				<div class="col-3">
					<strong class="text-center d-flex justify-content-center" style="max-width: 80%">@item.Name</strong>
					@if (item.PercentReduct != 0 && item.PercentReduct != null)
					{
						<div class="row">
							<span class="col-6">giảm: <strong class="text-danger">@item.PercentReduct %</strong></span>
							<span class="col-6">Tối đa: <strong>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.ReductMax)</strong></span>
							<hr class="lh-3"/>
							<span>Hạn sử dụng: <strong>@item.StorageTerm Ngày</strong></span>
							<span class="text-secondary text-decoration-underline fs-6">@item.EndDate</span>
						</div>
					}
				</div>
			}
		</div>
	</div>
}
else
{
	<h3 class="text-center text-secondary d-flex justify-content-center">---Không có phiếu khuyến mãi nào cả---</h3>
}
