@using BookShop.BLL.ConfigurationModel.ProductModel;
@{
    ViewData["Title"] = "Home Page";
    List<ProductViewModel> products = ViewBag.Products;
}
<Style>
    .carousel-item img {
        border-radius: 10px
    }

    .c {
        margin-top: 10px
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    .i img {
        height: 153px;
        border-radius: 10px
    }

    .ai {
        margin-top: 20px;
    }

    .product-image {
        margin-top: 10px
    }

    .product-image {
        position: relative;
        /* padding: 0.5em; */
    }

    .outstock-container {
        background: rgba(0,0,0,0.3);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .flashsale-image-container {
        text-align: center
    }

    .new-label-pro-sale {
        background-color: #F7941E;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        margin-top: 0px !important;
        z-index: 1;
    }

    .giaban {
        font-weight: 700;
        color: #C92127;
        font-size: 30px;
    }

    .giagoc {
        color: rgb(189, 189, 189);
        text-decoration-line: line-through;
    }

    .fsale {
        margin: 5px;
    }

    .progress-value {
        margin-top: 20px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        color: #ffffff;
        background-color: rgb(191, 0, 45);
        font-size: 1em;
        text-align: center;
        font-weight: 700;
        border-radius: 20px
    }

    .xemthem {
        margin: auto;
        width: 200px;
        height: 35px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 2px 3px 5px #ccc;
        background-image: linear-gradient(to right, #ff9800, #F7695D);
    }

        .xemthem p {
            padding-top: 5px;
            color: white;
        }

    .flashsale {
        margin-top: 0px;
        background-color: white;
        padding-bottom: 30px
    }

    .danhmucsanpham {
        margin-top: 24px;
        background-color: white;
        border-radius: 10px;
        padding: 15px
    }

        .danhmucsanpham hr {
            font-weight: 200;
        }

    .fhs_center_center {
        text-align: center;
        color: black;
    }

        .fhs_center_center:hover {
            color: red;
            text-decoration: none;
        }

    .dm svg {
        margin-top: 7px;
        margin-right: 10px
    }

    .xuhuong {
        margin-top: 24px;
    }

    .xh {
        display: flex;
    }

        .xh h2 {
            margin-left: 10px;
            margin-top: 12px;
            font-weight: 700;
            font-size: 20px;
        }

    .hg:hover {
        border-color: chocolate;
        color: chocolate;
    }
    /* Tab Links */
    .tabs {
        display: flex;
        background-color: white;
    }

    .tablinks {
        margin: 5px;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.2s ease;
    }

        .tablinks:hover {
            color: rgb(250, 121, 0);
            border: 3px solid rgb(250, 121, 0);
            border-radius: 10px;
        }
        /* Tab active */
        .tablinks.active {
            color: rgb(250, 121, 0);
            border: 1px solid rgb(250, 121, 0);
            border-radius: 10px;
        }

    /* tab content */
    .tabcontent {
        display: none;
    }
        /* Text*/
        .tabcontent p {
            color: #333;
            font-size: 16px;
        }
        /* tab content active */
        .tabcontent.active {
            display: block;
        }

    .cms-icon-menu {
        margin: 15px 0px 15px 0px;
        background-color: #fff;
        text-align: center;
        padding: 15px 4px !important;
    }

    .dss {
        width: 10%;
        margin: 0px;
        padding: 0px;
    }

        .dss img {
            width: 40%;
        }

    .cms-icon-menu-item-name {
        padding: 10px 10px 0px;
    }

    .testsp {
        cursor: pointer;
    }

    .listdsds {
        overflow-x: auto;
    }

    .flashsale-header {
        background-color: #FCDAB0;
    }
</Style>
<div class="row">
    <div class="col-sm-8">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="height:316px" src="https://cdn0.fahasa.com/media/magentothem/banner7/20_11_mainbanner_Slide_840x320.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="height:316px" src="https://cdn0.fahasa.com/media/magentothem/banner7/DochoiT1123_BannerSlide_840x320.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="height:316px" src="https://cdn0.fahasa.com/media/magentothem/banner7/FahasaSaleThu3T1123_W1_Banner_840x320.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="i">
            <a href="pnj-fhs?fhs_campaign=homepage_subbanner_1"><img width="100%" class="border_radius_normal" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/ZaloPay11_392x156_1.jpg"></a>
        </div>
        <div class="i c">
            <a href="vnpay?fhs_campaign=homepage_subbanner_2"><img width="100%" class="border_radius_normal" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-10-2023/VNPAYFHS20_392x156_1.jpg"></a>
        </div>
    </div>
</div>
<div class="row ai">
    <div class="col-sm-3">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/NCCThienLongT1123_BannerSmallBanner_310x210_1.png" width="100%" height="100%" />
    </div>
    <div class="col-sm-3">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/TrangThieuNhiT923_Banner_SmallBanner_310x210-22_1.png" width="100%" height="100%" />
    </div>
    <div class="col-sm-3">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/PopmartT1023_Banner_SmallBanner_310x210_4.png" width="100%" height="100%" />
    </div>
    <div class="col-sm-3">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/FahasaSaleThu3T1123_W1_Smallbanner_310x210_4.png" width="100%" height="100%" />
    </div>
</div>

<div class="row cms-icon-menu listdsds">
    <div class="dss">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="ThongTinSanPham"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-07-2023/Icon_B2S_1.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Trở Lại<br>Trường Học</div>
    </div>
    <div class="dss">
        <div>
            <a href="/sale-thu-3?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/F3Thang9_120x120.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Sale Thứ 3</div>
    </div>
    <div class="dss">
        <div>
            <a href="/flashsale?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_FlashSale_Thuong_120x120.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Flash Sale</div>
    </div>
    <div class="dss">
        <div>
            <a href="/ma-giam-gia-hot?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_MaGiamGia_8px_1.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Mã Giảm Giá</div>
    </div>
    <div class="dss">
        <div>
            <a href="/do-choi-trung-thu?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/IconDoChoi_Thuong_120x120.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Đồ Chơi</div>
    </div>
    <div class="dss">
        <div>
            <a href="/binh-tay?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/Icon_NCC_BinhTayT9.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Bình Tây</div>
    </div>
    <div class="dss">
        <div>
            <a href="/trang-thieu-nhi?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/Icon_ThieuNhi_Thuong_120x120.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Thiếu Nhi</div>
    </div>
    <div class="dss">
        <div>
            <a href="/new-product?category=all&amp;sort=created_at&amp;fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_SanPhamMoi_8px_1.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Sản Phẩm <br>Mới</div>
    </div>
    <div class="dss">
        <div>
            <a href="/nhap-hoi-manga-comic?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Manga_Week_Hot.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Manga</div>
    </div>
    <div class="dss">
        <div>
            <a href="/phien-cho-do-cu?fhs_campaign=homepageicon"><img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_PhienChoCu_8px_1.png" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name">Phiên Chợ<br>Sách cũ</div>
    </div>
</div>

<!-- Danh muc flashsale -->
<div class="flashsale">
    <div class="flashsale-header">
        <div class="col-12">
            <p style="justify-content:center; display:flex; align-items: center;font-size:25px; font-weight: 700; color: black; height:50px">Sản phẩm bày bán</p>
        </div>
    </div>
    <div class="row" style="padding-inline: 10px">
        @if (products != null)
        {
            @foreach (var item in products)
            {
                <div class="col-sm-3 testsp" >
                    <div class="product-image">
                        <div class="flashsale-image-container">
                            <img src="@item.ImgUrl" class="card-img-top" alt="...">
                        </div>
                        <!--
                        <div class="outstock-container">
                            <img class="flashsale-item-chay-hang" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/flashsale/Chay-hang-icon.svg">
                        </div>
                        <div class="new-label-pro-sale"><span class="new-p-sale-label discount-l-fs">99%</span></div>-->
                    </div>
                    <div class="ttsp">
                        <h4>
                            @item.Name
                        </h4>
                        <div>
                        </div>
                        <div class="giaban">
                            @item.Price
                        </div>
                        <div class="giagoc">
                            600
                        </div>
                        @* <p onclick="location.href='@Url.Action("ChiTietSanPham", new{id = item.Id})'" class="progress-value">Mua</p> *@
                        <a asp-action="ChiTietSanPham" asp-route-id="@item.Id">Mua</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="xemthem">
        <p>Xem Thêm</p>
    </div>
</div>

<!-- Danh Muc San Pham-->
<div class="danhmucsanpham">
    <div class="dm" style="display:flex;">
        <svg xmlns="http://www.w3.org/2000/svg" color="red" width="30" height="30" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
        </svg><h2>Danh mục sản phẩm</h2>
    </div>
    <hr />
    <div class="listsanpham">
        <div class="menu_category_block_content_list" style="display: grid;grid-template-columns: repeat(10, 1fr);">
            <a asp-area="" asp-controller="Home" asp-action="ThongTinSanPham" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/balos1.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/balos1.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Balo<br>Bóp Viết</div>
            </a>
            <a href="/van-phong-pham/but.html?order=num_orders&amp;limit=24&amp;p=1&amp;fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/butviets1.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/butviets1.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Bút - Viết</div>
            </a>
            <a href="/tap?fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/tapvos1.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/tapvos1.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Tập - Vở</div>
            </a>
            <a href="/tam-linh-luan-hoi-2023?category=all&amp;sort=num_orders&amp;fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/T_m_linh.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/T_m_linh.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Tâm Linh<br>Luân Hồi</div>
            </a>
            <a href="/sach-trong-nuoc/dam-y.html?order=created_at&amp;limit=24&amp;p=1&amp;fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/_am_m_.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/_am_m_.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Ngôn Tình<br>Đam Mỹ</div>
            </a>
            <a href="/sach-kinh-te-mua-manh-giam-bao?fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/9786043654370.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/9786043654370.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Xu Hướng<br>Kinh Tế</div>
            </a>
            <a href="/trang-tam-ly?fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/Thao_t_ng.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/Thao_t_ng.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Tâm Lý<br>Thao Túng</div>
            </a>
            <a href="/trang-thieu-nhi?fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/thieunhis2.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/thieunhis2.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Thiếu Nhi</div>
            </a>
            <a href="/sach-trong-nuoc/van-hoc-trong-nuoc/tac-pham-kinh-dien.html?order=num_orders&amp;limit=24&amp;p=1&amp;fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/tpkds1.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/tpkds1.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Văn Học<br>Kinh Điển</div>
            </a>
            <a href="/sach-trong-nuoc/van-hoc-trong-nuoc/tieu-thuyet.html?order=num_orders_month&amp;limit=48&amp;p=1&amp;fhs_campaign=categoryicon" class="fhs_column_center">
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/Ti_u_Thuy_t.jpg" data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Danh-muc-san-pham/Ti_u_Thuy_t.jpg">
                <div class="fhs_nowrap_two fhs_center_center" style="margin-top: 16px; font-size: 1.23em;">Tiểu Thuyết</div>
            </a>
        </div>
    </div>
</div>

<!-- Xu Huong Mua Sam -->
<div data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50" class="xuhuong">
    <div class="xh" style="background-color:#FCDDEF;height:auto;">
        <img style="margin-top:10px;margin-left:10px;margin-bottom:10px" src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png" class="center">
        <h2>
            Xu Hướng Mua Sắm
        </h2>
    </div>
    <!-- Tab links -->
    <div class="tabs">
        <button class="tablinks active col-sm-2" data-electronic="allproducts">Xu hướng theo ngày</button>
        <button class="tablinks col-sm-2" data-electronic="Microcontrollers">Sách HOT - Giảm Sốc</button>
        <button class="tablinks col-sm-3" data-electronic="module">Bestseller Ngoại Ngữ</button>
    </div>

    <!-- Tab content -->
    <div class="wrapper_tabcontent" style="background-color:white">
        <div id="allproducts" class="tabcontent active">
            <div class="row" style="padding-inline: 10px">
                @if (products != null)
                {
                    @foreach (var item in products)
                    {
                        <div class="col-sm-3 testsp" onclick="location.href='@Url.Action("ChiTietSanPham", new{id = item.Id})'">
                            <div class="product-image">
                                <div class="flashsale-image-container">
                                    <img src="@item.ImgUrl" class="card-img-top" alt="...">
                                </div>
                                <!--
                                <div class="outstock-container">
                                    <img class="flashsale-item-chay-hang" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/flashsale/Chay-hang-icon.svg">
                                </div>
                                <div class="new-label-pro-sale"><span class="new-p-sale-label discount-l-fs">99%</span></div>-->
                            </div>
                            <div class="ttsp">
                                <h4>
                                    @item.Name
                                </h4>
                                <div>
                                </div>
                                <div class="giaban">
                                    @item.Price
                                </div>
                                <div class="giagoc">
                                    600
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div id="Microcontrollers" class="tabcontent">
            <div class="row" style="padding-inline: 10px">
                @if (products != null)
                {
                    @foreach (var item in products)
                    {
                        <div class="col-sm-3 testsp" onclick="location.href='@Url.Action("ChiTietSanPham", new{id = item.Id})'">
                            <div class="product-image">
                                <div class="flashsale-image-container">
                                    <img src="@item.ImgUrl" class="card-img-top" alt="...">
                                </div>
                                <!--
                                <div class="outstock-container">
                                    <img class="flashsale-item-chay-hang" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/flashsale/Chay-hang-icon.svg">
                                </div>
                                <div class="new-label-pro-sale"><span class="new-p-sale-label discount-l-fs">99%</span></div>-->
                            </div>
                            <div class="ttsp">
                                <h4>
                                    @item.Name
                                </h4>
                                <div>
                                </div>
                                <div class="giaban">
                                    @item.Price
                                </div>
                                <div class="giagoc">
                                    600
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div id="module" class="tabcontent">
            <div class="row" style="padding-inline: 10px">
                @if (products != null)
                {
                    @foreach (var item in products)
                    {
                        <div class="col-sm-3 testsp" onclick="location.href='@Url.Action("ChiTietSanPham", new{id = item.Id})'">
                            <div class="product-image">
                                <div class="flashsale-image-container">
                                    <img src="@item.ImgUrl" class="card-img-top" alt="...">
                                </div>
                                <!--
                                <div class="outstock-container">
                                    <img class="flashsale-item-chay-hang" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/flashsale/Chay-hang-icon.svg">
                                </div>
                                <div class="new-label-pro-sale"><span class="new-p-sale-label discount-l-fs">99%</span></div>-->
                            </div>
                            <div class="ttsp">
                                <h4>
                                    @item.Name
                                </h4>
                                <div>
                                </div>
                                <div class="giaban">
                                    @item.Price
                                </div>
                                <div class="giagoc">
                                    600
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@* <script>
    var tabLinks = document.querySelectorAll(".tablinks");
    var tabContent = document.querySelectorAll(".tabcontent");

    tabLinks.forEach(function (el) {
        el.addEventListener("click", openTabs);
    });
    function openTabs(el) {
        var btn = el.currentTarget; // lắng nghe sự kiện và hiển thị các element
        var electronic = btn.dataset.electronic; // lấy giá trị trong data-electronic

        tabContent.forEach(function (el) {
            el.classList.remove("active");
        }); //lặp qua các tab content để remove class active

        tabLinks.forEach(function (el) {
            el.classList.remove("active");
        }); //lặp qua các tab links để remove class active

        document.querySelector("#" + electronic).classList.add("active");
        // trả về phần tử đầu tiên có id="" được add class active

        btn.classList.add("active");
        // các button mà chúng ta click vào sẽ được add class active
    }
</script> *@
