@using BookShop.BLL.ConfigurationModel.PromotionTypeModel;
@model IEnumerable<BookShop.BLL.ConfigurationModel.PromotionModel.PromotionViewModel>

@{
	ViewData["Title"] = "Danh sách khuyến mãi";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	List<PromotionTypeViewModel> typePromotion = ViewBag.Type;
}

@if (TempData["SuccessMessage"] != null)
{
	<script>
		alert('@TempData["SuccessMessage"]');
	</script>
}

@if (TempData["ErrorMessage"] != null)
{
	<script>
		alert('@TempData["ErrorMessage"]');
	</script>
}

<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
			<span class="breadcrumb-item active">Danh sách khuyến mãi</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div class="col-lg-8">
			<a class="btn btn-primary" asp-area="Admin" asp-controller="Promotion" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới khuyến mãi</span></a>
		</div>
		<div class="m-1 row">
			<select class="col-2 border-info text-danger ms-2" id="filterType" onchange="loadData(1)" aria-label="Default select example">
				<option value="" selected>Tất cả</option>
				@foreach (var item in typePromotion)
				{
					<option value="@item.Id">@item.Name</option>
				}
			</select>
			<select class="col-2 border-info text-danger ms-2" id="filterStatus" onchange="loadData(1)" aria-label="Default select example">
				<option value="" selected>Tất cả</option>
				<option value="1">Đang áp dụng</option>
				<option value="0">Chưa áp dụng</option>
			</select>
			<select class="col-2 border-info text-danger ms-2" id="filterDate" onchange="loadData(1)" aria-label="Default select example">
				<option value="" selected>Tất cả</option>
				<option value="1">Còn hạn</option>
				<option value="0">Hết hạn</option>
			</select>
			<div class="btn-group col-4">
				<input id="keyWordFind" class="btn btn-outline-info" placeholder="nhập mã hoặc tên" oninput="loadData(1)">
				<button onclick="loadData(1)" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover e-commerce-table">
				<thead>
					<tr>
						<th class="text-center">STT</th>
						<th class="text-center">Tên</th>
						<th class="text-center">Loại</th>
						<th class="text-center">Số lượng</th>
						<th class="text-center">Ngày tạo</th>
						<th class="text-center">Ngày bắt đầu</th>
						<th class="text-center">Ngày kết thúc</th>
						<th class="text-center">Trạng thái</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody id="dataList">
				</tbody>
			</table>
			<div id="buttonContainer"></div>
		</div>
	</div>
</div>

<script src="~/js/site.js"></script>
<script>
	function getDetail(id) {
		var url = "@Url.Action("Details", "Promotion")?id=" + id
		window.location.href = url;
	}
	function loadData(pageIndex) {
		var type = $('#filterType').val();
		var status = $('#filterStatus').val();
		var date = $('#filterDate').val();
		var keyWordFind = $('#keyWordFind').val();
		var index = (pageIndex - 1) * 10;
		$.ajax({
			url: '@Url.Action("GetPromotion", "Promotion")',
			type: 'GET',
			data: { page: pageIndex, type: type, status: status, date: date, keyWord: keyWordFind },
			success: function (data) {
				var dataList = $("#dataList");
				dataList.empty();
				let status = "";
				let statusColor = "";
				var now = new Date();
				data.data.forEach(function (item) {
					index++;
					var endTime = new Date(item.endDate);
					var result = endTime.getTime() - now.getTime();
					if (result >= 0 && item.status == 1) {
						status = "Đang áp dụng";
						statusColor = "text-success";
					}
					else if (item.Status == 0) {
						status = "Chưa áp dụng";
						statusColor = "text-danger";
					}
					else if (result < 0 && item.status == 1) {
						status = "Hết hạn";
						statusColor = "text-danger";
					}
					var rowData = '<tr>' +
						'<td class="text-center">' + index + '</td>' +
						'<td class="text-center">' + item.name + '</td>' +
						'<td class="text-center">' + item.nameType + '</td>' +
						'<td class="text-center">' + item.quantity + '</td>' +
						'<td class="text-center">' + formatDate(item.createdDate) + ' </td>' +
						'<td class="text-center">' + formatDate(item.startDate) + '</td>' +
						'<td class="text-center">' + formatDate(item.endDate) + '</td>' +
						'<td class="text-center ' + statusColor + '">' + status + '</td>' +
						'<td>' +
						'<a class="btn btn-primary" href="/Admin/Promotion/Details/' + item.id + '"> Chi tiết </a>' +
						'<a class="btn btn-warning" href="/Admin/Promotion/Edit/' + item.id + '"> Sửa </a>' +
						'</td>' +
						'</tr>'
					dataList.append(rowData);
				})
				createPagingButtons(1, data.max, data.page);
			}
		})
	}
	$(document).ready(function () {
		loadData(1);
	})
</script>
