@model BookShop.BLL.ConfigurationModel.CategoryModel.CategoryModel

@{
	ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Thông tin chi tiết danh mục : @Model.Name </h1>
<style>
	.chitiet {
		margin-top: 30px;
		justify-content: center;
		display: flex;
	}

	.option-f {
		text-align: center;
	}
</style>
<div class="chitiet">
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreatedDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Status)
		</dt>

		@if (Model.Status == 1)
		{
			<dd class="col-sm-10"> Hoạt động </dd>
		}
		else
		{
			<dd>
				Không hoạt động
			</dd>
		}


	</dl>
</div>
<div class="option-f">
	<a asp-action="Index">Xem danh sách danh mục</a>
</div>
