@model IndexViewModel
@{
    ViewData["Title"] = "Quản lý tài khoản của bạn";

    Layout = "/Views/Shared/_LayoutUser.cshtml";
}

@* <h1>@ViewData["Title"].</h1>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Cập nhật thông tin tài khoản</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">Thông tin cơ bản:</dt>
        <dd class="col-sm-6">
            <dl class="row">
                 <dt class = "col-sm-6">
                    @Html.DisplayNameFor(m => Model.profile.UserName)
                 </dt>
                 <dd class = "col-sm-6">
                    @Html.DisplayFor(m => Model.profile.UserName)
                 </dd>
            </dl>
             <dl class="row">
                 <dt class = "col-sm-6">
                    @Html.DisplayNameFor(m => Model.profile.UserEmail)
                 </dt>
                 <dd class = "col-sm-6">
                    @Html.DisplayFor(m => Model.profile.UserEmail)
                 </dd>
            </dl>
              <dl class="row">
                 <dt class = "col-sm-6">
                    @Html.DisplayNameFor(m => Model.profile.PhoneNumber)
                 </dt>
                 <dd class = "col-sm-6">
                    @Html.DisplayFor(m => Model.profile.PhoneNumber)
                 </dd>
            </dl>
            <a asp-action="EditProfile" class="btn btn-primary btn-sm">Sửa</a>

        </dd>

        <dt class="col-sm-4">Mật khẩu:</dt>
        <dd class="col-sm-6">
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Đổi mật khẩu</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Tạo mật khẩu</a>
            }
        </dd>
        <dt class = "col-sm-4">Liên kết tài khoản ngoài:</dt>
        <dd class = "col-sm-6">
            Có @Model.Logins.Count liên kết. <a asp-controller="Manage" asp-action="ManageLogins">Quản lý liên kết ngoài</a>
        </dd>

        <dt class="col-sm-4">Số điện thoại:</dt>
        <dd class = "col-sm-6">
            <p>
                Số điện thoại dùng để xác thực hai yêu tố
            </p>
            @(Model.PhoneNumber ?? "không có")
                @if (Model.PhoneNumber != null)
                {
                    <text>:</text>
                    <text>&nbsp;&nbsp;<a asp-controller="Manage" asp-action="AddPhoneNumber">Thay đổi</a>&nbsp;&nbsp;</text>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post" role="form">
                        <button type="submit" class="btn btn-danger btn-sm">Loại bỏ số điện thoại</button>
                    </form>
                }
                else
                {
                    <text>&nbsp;&nbsp;<a asp-controller="Manage" asp-action="AddPhoneNumber">Thêm số điện thoại</a></text>
                }
        </dd>

        <dt class="col-sm-4">Xác thực hai yếu tố:</dt>
        <dd class = "col-sm-6">
            <!--<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>-->
            @if (Model.TwoFactor)
                {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                        (Đang kích hoạt) <button type="submit" class="btn btn-danger btn-sm">Hủy</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                        <button type="submit" class="btn btn-primary btn-sm">Kích hoạt</button>
                    </form>
                }
        </dd>

        <dt class="col-sm-4">Xác thực ứng dụng:</dt>
        <dd class = "col-sm-6">
            @if (Model.AuthenticatorKey == null)
            {
                <form asp-controller="Manage" asp-action="ResetAuthenticatorKey" method="post" class="form-horizontal" role="form">
                    <button type="submit" class="btn btn-sm btn-primary">Phát sinh mã</button>
                </form>
            }
            else
            {
                <text>Mã xác thực là: @Model.AuthenticatorKey</text>
                <p>Nhập mã này khi yêu cầu xác thực 2 yếu tố</p>
                <form asp-controller="Manage" asp-action="GenerateRecoveryCode" method="post" class="form-horizontal" role="form">
                   <button type="submit" class="btn btn-sm btn-primary">Phát sinh mã phục hồi</button>
                   <p>Mã phục hồi sử dụng để xác thực hai yếu tố</p>
                </form>
            }
        </dd>
    </dl>
</div>

 *@


<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage"></partial>

<div class="row">
    <div class="col-8">
        <h3>Thông tin cá nhân</h3>
        <div class="row" style="background-color:white">
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.Code):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@Model.profile.Code" disabled /></div>
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.Name):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@Model.profile.Name" disabled /></div>
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.Birth):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@Model.profile.Birth" disabled /></div>
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.PhoneNumber):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@Model.profile.PhoneNumber" disabled /></div>
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.UserName):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@Model.profile.UserName" disabled /></div>
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.Gender):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@(Model.profile.Gender==0?"Nam":"Nữ")" disabled /></div>
            <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.profile.UserEmail):</div>
            <div class="col-8 mt-3"><input class="form-control" value="@Model.profile.UserEmail" disabled /></div>


       @*     <style>
                .chucnang{
                    display:flex;
                    justify-content:center;
                    gap:10px;
                }
            </style>*@
				<button style="margin-right:10px" type="button" class="mt-3  text-center col-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Model.PhoneNumber">Sửa thông tin</button>
				<a class=" mt-3 text-center col-3 btn btn-primary" asp-controller="Manage" asp-action="ChangePassword">Đổi mật khẩu</a>
           
          
        </div>
    </div>


    <div class="col-4">
        <h3>Ảnh đại diện</h3>
        <div class="row">
            <form asp-action="UpLoadAvata" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="_file" />
                </div>

                <div class="form-group">
                    <input type="submit" value="UpLoad" class="btn btn-primary" />
                </div>
            </form>
            @if (Model.profile.Img == null)
            {
                <div class="col-12 mt-3"><img src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" class="img-fluid" /></div>
            }
            else
            {
                <div class="col-12 mt-3"><img src="~/uploads/users/@Model.profile.Img" class="img-fluid" /></div>
            }

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form asp-action="EditProfile" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="">Thay đổi thông tin cá nhân </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">@Html.DisplayNameFor(m => Model.profile.PhoneNumber):</label>
                        <input type="text" class="form-control" asp-for="@Model.profile.PhoneNumber">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">@Html.DisplayNameFor(m => Model.profile.Birth):</label>
                        <input type="date" class="form-control" asp-for="@Model.profile.Birth">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">@Html.DisplayNameFor(m => Model.profile.Gender):</label>
                        <select asp-for="@Model.profile.Gender">
                            @foreach (var item in Model.Gender)
                            {
                                <option value="@item">@(item == 0 ? "Nam" : "Nữ")</option>
                            }
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Cập nhập</button>
                </div>
            </div>
        </div>
    </form>

</div>

<script>
    var exampleModal = document.getElementById('exampleModal');
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.

        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')
        modalBodyInput.value = recipient
    });


</script>
@* 
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
  
} *@