@using BookShop.BLL.ConfigurationModel.BookModel;
@using BookShop.BLL.ConfigurationModel.CollectionBookModel;
@model BookShop.BLL.ConfigurationModel.ProductModel.CreateProductModel
@* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> *@
<link rel="stylesheet" href="~/lib/fontawesome-6.4.2/css/all.min.css" />

<!-- Bootstrap JS and dependencies -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
@* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/layout.js"></script>
<style>
	body {
		width: 100%;
	}

	.form-group {
		width: 100%;
	}

</style>
@{
	ViewData["Title"] = "Create";
	List<BookViewModel> listBook = ViewBag.listBook;
	List<CollectionModel> listCollection = ViewBag.listCollection;
}
<body>
	<h4 class="d-flex text-center justify-content-center col-12">---Tạo mới sản phẩm---</h4>
	<hr />

	@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row w-100" }))
	{
		@Html.AntiForgeryToken()
		<div class="col-6">
			<div class="form-group">
				<label class="form-label">Danh sách sách</label>
				<select asp-for="bookSelected" id="bookSelect" class="form-control chosen-select w-100" onchange="selectItem()" required>
					@foreach (var item in listBook)
					{
						<option value="@item.Id">@item.Title</option>
					}
				</select>
			</div>

			<div class="form-group">
				<label class="form-label">Tên sản phẩm</label>
				<input asp-for="Name" class="form-control w-100" placeholder="Sách..." required />
			</div>

			<div class="form-group">
				<label class="form-label">Giá bán</label>
				<input asp-for="Price" type="number" class="form-control w-100" min="1000" step="100" placeholder="1000đ" required />
			</div>

			<div class="form-group">
				<label class="form-label">Số lượng</label>
				<input asp-for="Quantity" type="number" id="quantity" class="form-control w-100" min="0" required />
			</div>

			<div class="form-group">
				<label class="form-label">Mô tả sản phẩm</label>
				<textarea asp-for="Description" class="form-control w-100" row="3"></textarea>
			</div>


			<div class="form-group">
				<label class="form-label">Bộ sưu tập</label>
				<select asp-for="CollectionId" class="form-control chosen-select w-100">
					<option value="" selected>--Select collection--</option>
					@foreach (var item in listCollection)
					{
						<option value="@item.Id">@item.Name</option>
					}
				</select>
			</div>

			<div class="form-group">
				@Html.Label("Trạng thái")<br />
				<select asp-for="Status" class="form-control">
					<option value="1" selected>Đăng bán</option>
					<option value="0">Không đăng bán</option>
				</select>
			</div>
		</div>

		<div class="col-6">
			<label class="form-label">Hình ảnh sản phẩm</label>
			<div id="img-selected"></div>
			<input type="file" id="img-input" asp-for="fileCollection" class="form-control" multiple required accept=".jpg,.png,.jpeg,.tiff,.gif" />
		</div>
		<button type="submit" class="btn btn-primary m-3">Create</button>
	}
</body>

<script type="text/javascript">
	const uploadInput = document.getElementById('img-input');
	const uploadedImage = document.getElementById('img-selected');

	uploadInput.addEventListener('change', function (event) {
		const files = event.target.files;
		uploadedImage.innerHTML = "";
		if (files) {
			for (const file of files) {
				if (file) {
					const imageURL = URL.createObjectURL(file);
					var imgItem = document.createElement("img");
					imgItem.src = imageURL;
					imgItem.alt = "Ảnh sản phẩm"
					imgItem.style.maxWidth = "24%";
					imgItem.style.margin = "2px";
					imgItem.style.border = "1px solid black";
					uploadedImage.appendChild(imgItem);
				}
			}
		}
	});

	function selectItem() {
		const select = document.querySelector("select[id='bookSelect']");
		const options = select.querySelectorAll("option:checked");
		const bookList = [];
		options.forEach(function (item) {
			var intItem = parseInt(item.value);
			bookList.push(intItem);
		})
		const bookListArray = Array.from(bookList);
		$.ajax({
			url: '@Url.Action("LimitQuantity", "Product")',
			type: 'POST',
			data: { list: bookListArray },
			success: function (data) {
				var intMax = parseInt(data);
				$('#quantity').val('');
				$('#quantity').attr('max', intMax);
				$('#quantity').attr('placeholder', 'Số lượng tối đa ' + data);
			}
		})
	}

</script>
