@using System.Globalization;
@* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> *@
<link rel="stylesheet" href="~/lib/fontawesome-6.4.2/css/all.min.css" />

<!-- Bootstrap JS and dependencies -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
@* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/layout.js"></script>
<style>
	body {
		width: 100%;
	}
</style>
<body>
@model BookShop.BLL.ConfigurationModel.ProductModel.ProductViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
	string imgUrl;
}

<h1>Details</h1>

<div>
	<h4>ProductViewModel</h4>
	<hr />
	<div class="row">
		<dl class="col-4">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Id)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Id)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Quantity)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Quantity)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Price)
			</dt>
			<dd class="col-sm-6">
				@string.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.Price)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Description)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.CreatedDate)
			</dt>
			<dd class="col-sm-6">
				@Model.CreatedDate.ToString()
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Status)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Status)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Type)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Type)
			</dd>
		</dl>
		<div class="col-lg-5 col-md-5 col-ms-5">
			@{
				imgUrl = Model.imageViewModels.FirstOrDefault().ImageUrl;
			}
			<img src="@imgUrl" alt="ảnh sản phẩm" style="max-width: 80%"/>
		</div>
		<ul class="col-3">
			@foreach (var item in Model.bookViewModels)
			{
				<li>
					@item.Title - @string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.ImportPrice)
				</li>
			}
		</ul>
	</div>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
	<a asp-action="Index">Back to List</a>
</div>
</body>
