@using System.Globalization;
@model IEnumerable<BookShop.BLL.ConfigurationModel.ProductModel.ProductViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="prod-list">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td>
					@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Type)
				</td>
				<td>
					@Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
					@Html.ActionLink("Chi tiết", "Details", new {type= item.Type, id=item.Id, }) |
					@Html.ActionLink("Xóa", "Delete", new { id=item.Id })
					<button onclick="deleteSanPham('@item.Id')" value="Xóa">Xóa</button>
				</td>
			</tr>
		}
	</tbody>
</table>
<script type="text/javascript">
	function deleteSanPham(id) {
		console.log(id);
		$.ajax({
			url: '/Admin/Product/Delete',
			type: 'POST',
			data: { id: id },
			success: function (result) {
				if (result.success) {
					// Xóa thành công, thực hiện các hành động bạn muốn
					alert('Xóa thành công.');
					$('#prod-' + id).remove();
					// Ví dụ: cập nhật giao diện hoặc làm mới danh sách sản phẩm
				} else {
					alert('Xóa thất bại: ' + result.errorMessage);
				}
			},
			error: function (error) {
				alert('Có lỗi xảy ra: ' + error.responseText);
			}
		});
	}
</script>

<script src="~/js/Area/Admin/Product.js" />