@using System.Globalization;
@model IEnumerable<BookShop.BLL.ConfigurationModel.ProductModel.ProductViewModel>

<style>
	body {
		width: 100%;
	}
</style>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<body>
	<h1>Index</h1>

	<p>
		<button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'"><i class="fa-solid fa-circle-plus"></i> Create</button>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayName("Tên")
				</th>
				<th>
					@Html.DisplayName("Số lượng")
				</th>
				<th>
					@Html.DisplayName("Giá bán")
				</th>
				<th>
					@Html.DisplayName("Ngày tạo")
				</th>
				<th>
					@Html.DisplayName("Trạng thái")
				</th>
				<th>
					@Html.DisplayName("Loại")
				</th>
				<th></th>
			</tr>

		</thead>
		<tbody id="prod-list">
			@foreach (var item in Model)
			{
				<tr id="prod-@item.Id">
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Quantity)
					</td>
					<td>
						@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelTtem => item.CreatedDate)
					</td>
					<td>
						@(item.Status == 1 ? "Đang bán" : "Chịu")
					</td>
					<td>
						@(item.Type == 1 ? "Lẻ" : "Combo")
					</td>
					<td>
						<button class="btn btn-outline-warning" onclick="location.href='@Url.Action("Edit", new { id = item.Id })' ">Sửa</button>
						<button class="btn btn-outline-success" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Chi tiết</button>
						<button class="btn btn-outline-danger" onclick="deleteSanPham('@item.Id')" value="Xóa">Xóa</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

</body>
<script type="text/javascript">
	function deleteSanPham(id) {
		console.log(id);
		$.ajax({
			url: '/Admin/Product/Delete',
			type: 'POST',
			data: { id: id },
			success: function (result) {
				if (result.success) {
					// Xóa thành công, thực hiện các hành động bạn muốn
					alert('Xóa thành công.');
					$('#prod-' + id).remove();
					// Ví dụ: cập nhật giao diện hoặc làm mới danh sách sản phẩm
				} else {
					alert('Xóa thất bại: ' + result.errorMessage);
				}
			},
			error: function (error) {
				alert('Có lỗi xảy ra: ' + error.responseText);
			}
		});
	}
</script>

<script src="~/js/Area/Admin/Product.js" />