﻿@using BookShop.BLL.ConfigurationModel.AuthorModel
@using BookShop.BLL.ConfigurationModel.SupplierModel
@using BookShop.BLL.ConfigurationModel.GenreModel
@model BookShop.BLL.ConfigurationModel.BookModel.CreateBookModel
@{
	ViewData["Title"] = "Create";
	List<AuthorModel> authors = ViewBag.Authors;
	List<GenreModel> genres = ViewBag.Genres;
	List<SupplierViewModel> suppliers = ViewBag.Supplier;
}
<style>
	.form-column {
		float: left;
		width: 30%; /* Điều chỉnh chiều rộng của cột tại đây */
		margin-right: 5%; /* Khoảng cách giữa hai cột */
	}

	.clear {
		clear: both;
	}

/*	.btn.btn-primary {
		width: 50px;
	}
*/
/*	.form-control {
		height: 30px;
	}*/

	button {
		float: left;
		width: 30%; /* Điều chỉnh chiều rộng của cột tại đây */
		margin-right: 5%; /* Khoảng cách giữa hai cột */
	}
</style>
@* <form asp-action="Create" enctype="multipart/form-data">
	<div class="form-column">
		<div class="form-group">
			@Html.Label("Mã định danh")
			@Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
		</div>

		<div class="form-group">
			@Html.Label("Tiêu đề sách")
			@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
		</div>

		<div class="form-group">
			@Html.Label("Số lượng")
			@Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
		</div>
		<div class="form-group">
			@Html.Label("Barcode")
			@Html.TextBoxFor(m => m.Barcode, new { @class = "form-control" })
		</div>

		<div class="form-group">
			<label>Chọn ảnh: </label>
			<input type="file" name="imageFile" accept="img/*" />
		</div>
		<div class="form-group">
			@Html.Label("Độc giả")
			@Html.TextBoxFor(m => m.Reader, new { @class = "form-control" })
		</div>

		<div class="form-group">
			@Html.Label("Tác giả")
			@Html.ListBoxFor(m => m.authorSelected, new MultiSelectList(authors, "Id", "Name"), new { @class = "form-control chosen-select" })
		</div>

		<div class="form-group">
			@Html.Label("Thể loại")
			@Html.ListBoxFor(m => m.genreSelected, new MultiSelectList(genres, "Id", "Name"), new { @class = "form-control chosen-select"})
		</div>

		<div class="form-group">
			@Html.Label("Mô tả sản phẩm")
			@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
		</div>

		<div class="form-group">
			@Html.Label("Giá bìa")
			@Html.TextBoxFor(m => m.CoverPrice, new { @class = "form-control" })
		</div>

		<div class="form-group">
			@Html.Label("Giá nhập")
			@Html.TextBoxFor(m => m.ImportPrice, new { @class = "form-control" })
		</div>

		<div class="clear"></div>
	</div>

	<div class="form-column">
		<div class="form-group">
			<div class="form-group">
				@Html.Label("Phân loại bìa")
				@Html.TextBoxFor(m => m.Cover, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Nhà sản xuất")
				@Html.DropDownListFor(m => m.Id_Supplier, new SelectList(suppliers, "Id", "Name"),"-- Select Collection --", new { @class = "form-control chosen-select"})
			</div>
			<div class="form-group">
				@Html.Label("Ngày xuất bản")
				@Html.EditorFor(m => m.PublicationDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
			</div>
			<div class="form-group">
				@Html.Label("Số trang")
				@Html.TextBoxFor(m => m.Pages, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Kích thước trang(mm)")
				@Html.TextBoxFor(m => m.PageSize, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Chiều cao(mm)")
				@Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Chiều dài sách(mm)")
				@Html.TextBoxFor(m => m.Length, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Chiều rộng")
				@Html.TextBoxFor(m => m.Widght, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Trọng lượng(g)")
				@Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Status")
				@Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
			</div>
			<div class="clear"></div>
		</div>
		<br />
		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form> *@
<form asp-action="Create" enctype="multipart/form-data">
	<div class="form-column">
		<div class="form-group">
			<label class="control-label"> Mã ISBN </label>
			<input asp-for="ISBN" class="form-control" />
		</div>

		<div class="form-group">
			<label class="form-label">Barcode</label>
			<input asp-for="Barcode" class="form-control" required />
		</div>

		<div class="form-group">
			<label class="form-group">Tiêu đề sách</label>
			<input asp-for="Title" class="form-control" required />
		</div>

		<div class="form-group">
			<label class="form-label"> Số lượng </label>
			<input asp-for="Quantity" class="form-control" type="number" min="0" max="2000000000" required />
		</div>
		<div class="form-group">
			<label>Chọn ảnh: </label>
			<input type="file" name="imageFile" accept="img/*" required />
		</div>
		<div class="form-group">
			<label class="form-label">Độ tuổi</label>
			<input asp-for="Reader" class="form-control" required />
		</div>

		<div class="form-group">
			<label class="form-label">Tác giả</label>
			@Html.ListBoxFor(m => m.authorSelected, new MultiSelectList(authors, "Id", "Name"), new { @class = "form-control chosen-select", @required = "required" })
		</div>

		<div class="form-group">
			<label class="form-label">Thể loại</label>
			@Html.ListBoxFor(m => m.genreSelected, new MultiSelectList(genres, "Id", "Name"), new { @class = "form-control chosen-select", @required = "required" })
		</div>
		<div class="form-group">
			<label class="form-label">Mô tả</label>
			<textarea asp-for="Description" class="w-100" rows="3"></textarea>
		</div>
		<div class="form-group">
			<label class="control-label"> Giá bìa </label>
			<input asp-for="CoverPrice" class="form-control" type="number" min="0" required />
		</div>
		<div class="form-group">
			<label class="control-label"> Giá nhập </label>
			<input asp-for="ImportPrice" class="form-control" type="number" min="0" required />
		</div>
		<div class="clear"></div>
	</div>
	<div class="form-column">
		<div class="form-group">
			<div class="form-group">
				<label class="form-label">Loại bìa</label>
				<select asp-for="Cover" class="form-control" required>
					<option value="Bìa mềm">Bìa mềm</option>
					<option value="Bìa cứng">Bìa cứng</option>
				</select>
			</div>
			<div class="form-group">
				<label class="form-label">Nhà xuất bản</label>
				@Html.DropDownListFor(m => m.Id_Supplier, new SelectList(suppliers, "Id", "Name"),"-- Select supplier --", new { @class = "form-control chosen-select"})
			</div>
			<div class="form-group">
				<label class="form-label">Ngày xuất bản</label>
				<input asp-for="PublicationDate" class="form-control" required />
			</div>
			<div class="form-group">
				<label class="control-label"> Số trang </label>
				<input asp-for="Pages" class="form-control" type="number" min="0" required />
			</div>
			<div class="form-group">
				<label class="control-label"> Kích thước trang </label>
				<input asp-for="PageSize" class="form-control" required />
			</div>
			<div class="form-group">
				<label class="control-label"> Trọng lượng (mg) </label>
				<input asp-for="Weight" class="form-control" type="number" min="100" required />
			</div>
			<div class="form-group">
				<label class="control-label"> Chiều dài (mm) </label>
				<input asp-for="Length" class="form-control" type="number" min="10" required />
			</div>
			<div class="form-group">
				<label class="control-label"> Chiều rộng (mm) </label>
				<input asp-for="Widght" class="form-control" type="number" min="10" required />
				<span asp-validation-for="Widght" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Độ dày (mm) </label>
				<input asp-for="Height" class="form-control" type="number" min="10" required />
			</div>
			<div class="form-group">
				<label class="control-label">Trạng thái</label>
				<select asp-for="Status" class="form-control" required>
					<option value="1">Còn hàng</option>
					<option value="0">Không còn hàng</option>
				</select>
			</div>
			<div class="clear"></div>
			<br />
			<div class="form-group cus">
				<a asp-action="Index">Xem danh sách Book</a>
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>
