@model BookShop.BLL.ConfigurationModel.BookModel.BookViewModel

@{
	ViewData["Title"] = "Details";
}
<style>
	.chitiet {
		gap:10px 20px;
		padding: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	}
	.chitiet-item label{
		font-size:18px;
		font-weight:500;
	}
	.chitiet-item p{
		margin-bottom:0;
		font-style:italic;
	}
	.ct:hover{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.chitiet-item:nth-child(1){
		grid-column:1/3;
		grid-row:1/8;
	}
	.chitiet-item:nth-last-child(1){
		grid-column:3/6;
	}
</style>
<a style="display: flex;
    justify-content: center;
    align-items: center;" asp-action="Index">Xem danh sách Book</a>
	<h1 style="text-align:center">Chi tiết : @Model.Title</h1>

<div class="chitiet">
	<div class="chitiet-item">
		<img style="width:100%" src="~/img/book/@Model.Img"/>
	</div>
	<div class="chitiet-item">
		<label>
			@Html.DisplayNameFor(model => model.ISBN):
		</label>
		<p>
			+ @Html.DisplayFor(model => model.ISBN)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			@Html.DisplayNameFor(model => model.Barcode):
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Barcode)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			@Html.DisplayNameFor(model => model.Title)
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Title)
		</p>
	</div>
	
	
	<div class="chitiet-item">
		<label>
			Tác giả:
		</label>@foreach (var item in Model.authorModels)
		{
			<p style="margin-bottom:0;line-height:2">

				+ @item.Name

			</p>
		}
	</div>
	<div class="chitiet-item">
		<label>
			Thể loại:
		</label>@foreach (var item in Model.genreModels)
		{
			<p>

				+ @item.Name

			</p>
		}
	</div>
	<div class="chitiet-item">
		<label>
			Nhà xuất bản:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.SupplierName)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Số lượng :
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Quantity)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Giá bìa sách:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Price)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Giá nhập :
		</label>
		<p>
			+ @Html.DisplayFor(model => model.ImportPrice)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Kích thước trang:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.PageSize)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Số trang:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Pages)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Bìa sách:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Cover)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Người đọc
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Reader)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Ngày xuất bản:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.PublicationDate)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Trọng lượng (g):
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Weight) 
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			kích thước (cm):
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Length) x @Html.DisplayFor(model => model.Widght) x @Html.DisplayFor(model => model.Height)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			@Html.DisplayNameFor(model => model.CreatedDate):
		</label>
		<p>
			+ @Html.DisplayFor(model => model.CreatedDate)
		</p>
	</div>
	<div class="chitiet-item">
		<label>
			Trạng thái:
		</label>
		@if (Model.Status ==1)
		{
			<p>
			Còn hàng
		</p>
		}
		else
		{
			<p>
				Không còn hàng
			</p>
		}
		
	</div>

	
	<div class="chitiet-item">
		<label>
			Mô tả:
		</label>
		<p>
			+ @Html.DisplayFor(model => model.Description)
		</p>
	</div>

</div>
<div>
	
</div>
