@using BookShop.BLL.ConfigurationModel.AuthorModel;
@using BookShop.BLL.ConfigurationModel.GenreModel;
@using BookShop.BLL.ConfigurationModel.SupplierModel;
@model BookShop.BLL.ConfigurationModel.BookModel.UpdateBookModel

@{
	ViewData["Title"] = "Edit";
	List<AuthorModel> authors = ViewBag.Authors;
	List<GenreModel> genres = ViewBag.Genres;
	List<SupplierViewModel> suppliers = ViewBag.Supplier;
}

<h1 style="text-align:center;">Sửa thông tin : @Model.Title</h1>
<hr />
<style>
	.form-column {
		float: left;
		width: 30%; /* Điều chỉnh chiều rộng của cột tại đây */
		margin-right: 5%; /* Khoảng cách giữa hai cột */
	}

	.clear {
		clear: both;
	}

	.btn btn-primary {
		width: 50px;
	}

	

	.form-group.cus {
		display: flex;
		justify-content: space-between;
	}
</style>
@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="form-column">
		<input asp-for="Id" hidden />
		<div class="form-group">
			<label class="control-label"> Mã ISBN </label>
			<input asp-for="ISBN" class="form-control" />
			<span asp-validation-for="ISBN" class="text-danger"></span>
		</div>

		<div class="form-group">
			@Html.Label("Tiêu đề sách")
			@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
		</div>

		<div class="form-group">
			<label class="control-label"> Số lượng </label>
			<input asp-for="Quantity" class="form-control" type="number" min="0" />
			<span asp-validation-for="Quantity" class="text-danger"></span>
		</div>
		<div class="form-group">
			@Html.Label("Độc giả")
			@Html.TextBoxFor(m => m.Reader, new { @class = "form-control" })
		</div>

		<div class="form-group">
			@Html.Label("Tác giả")
			@Html.ListBoxFor(m => m.authorSelected, new MultiSelectList(authors, "Id", "Name", Model.authorSelected), new { @class = "form-control chosen-select", id = "authorSelect" })
			<input type="hidden" value="@Model.authorSelected" name="authorSelected" />
		</div>

		<div class="form-group">
			@Html.Label("Thể loại")
			@Html.ListBoxFor(m => m.genreSelected, new MultiSelectList(genres, "Id", "Name", Model.genreSelected), new { @class = "form-control chosen-select", id = "genreSelect"})
			<input type="hidden" value="@Model.genreSelected" name="authorSelected" />
		</div>
		<div class="form-group">
			@Html.Label("Mô tả sản phẩm")
			@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
		</div>
		<div class="form-group">
				@Html.Label("Phân loại bìa")
				@Html.TextBoxFor(m => m.Barcode, new { @class = "form-control" })
			</div>
		<div class="form-group">
			<label class="control-label"> Giá bìa </label>
			<input asp-for="Price" class="form-control" type="number" min="0" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="control-label"> Giá nhập </label>
			<input asp-for="ImportPrice" class="form-control" type="number" min="0" />
			<span asp-validation-for="ImportPrice" class="text-danger"></span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="form-column">
		<div class="form-group">
			<div class="form-group">
				@Html.Label("Phân loại bìa")
				@Html.TextBoxFor(m => m.Cover, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.Label("Nhà sản xuất")
				@Html.DropDownListFor(m => m.Id_Supplier, new SelectList(suppliers, "Id", "Name"),"-- Select Collection --", new { @class = "form-control chosen-select", id = "supplierSelected"})
				<input type="hidden" value="@Model.Id_Supplier" name="supplierSelect" />
			</div>

			<div class="form-group">
				@Html.Label("Ngày xuất bản")
				@Html.EditorFor(m => m.PublicationDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
			</div>

			<div class="form-group">
				<label class="control-label"> Số trang </label>
				<input asp-for="Pages" class="form-control" type="number" min="0" required />
				<span asp-validation-for="Pages" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Kích thước trang </label>
				<input asp-for="PageSize" class="form-control"   required />
				<span asp-validation-for="PageSize" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Trọng lượng </label>
				<input asp-for="Widght" class="form-control" type="number" min="0" />
				<span asp-validation-for="Widght" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Chiều cao sách </label>
				<input asp-for="Height" class="form-control" type="number" min="0" />
				<span asp-validation-for="Height" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Chiều dài sách </label>
				<input asp-for="Length" class="form-control" type="number" min="0" />
				<span asp-validation-for="Length" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Chiều rộng sách </label>
				<input asp-for="Widght" class="form-control" type="number" min="0" />
				<span asp-validation-for="Widght" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label"></label>
				<select asp-for="Status" class="form-control">
					<option value="1">Còn hàng</option>
					<option value="0">Không còn hàng</option>
				</select>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<div class="clear"></div>
			<br />
			<div class="form-group cus">
				<a asp-action="Index">Xem danh sách Book</a>
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

<script>
	$(document).ready(function() {
		$('#authorSelect').change(function() {
			var selectedValues = $('#authorSelected').val();
			// Cập nhật bookSelected khi người dùng thay đổi lựa chọn
			$('input[name="authorSelected"]').val(selectedValues);
		});
		$('#genreSelect').change(function() {
			var selectedValue = $('#genreSelect').val();
			$('input[name="genreSelected"]').val(selectedValue);
		});
		$('#supplierSelected').change(function() {
			var selectedValue = $('#supplierSelected').val();
			$('input[name="supplierSelect"]').val(selectedValue);
		});
	});
</script>
<script>
	document.getElementById("ISBN").addEventListener("input", function () {
		var isbnInput = document.getElementById("ISBN");
		var isbnValue = isbnInput.value;

		// Kiểm tra độ dài ít nhất là 10 ký tự
		if (isbnValue.length < 10) {
			isbnInput.setCustomValidity("Mã ISBN phải có ít nhất 10 ký tự.");
		} else {
			isbnInput.setCustomValidity("");
		}
	});
</script>

