@model BookShop.DAL.Entities.Userr

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="container mt-5">
    <h1>Hồ sơ </h1>
    <div class="row">
        <div class="col-8">
            <h3>Thông tin cá nhân</h3>
            <div class="row" style="background-color:white">
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.Code):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@Model.Code" disabled /></div>
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.UserName):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@Model.UserName" disabled /></div>
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.Name):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@Model.Name" disabled /></div>
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.Birth):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@(Model.Birth)" disabled /></div>
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.PhoneNumber):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@Model.PhoneNumber" disabled /></div>  
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.Gender):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@(Model.Gender==0?"Nam":"Nữ")" disabled /></div>
                <div class="col-4 mt-3">@Html.DisplayNameFor(m => Model.Email):</div>
                <div class="col-8 mt-3"><input class="form-control" value="@Model.Email" disabled /></div>
            </div>
        </div>


        <div class="col-4">
            <h3>Ảnh đại diện</h3>
            <div class="row">
                @if (Model.Img == null)
                {
                    <div class="col-12 mt-3"><img src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" class="img-fluid" /></div>
                }
                else
                {
                    <div class="col-12 mt-3"><img src="~/uploads/users/@Model.Img" class="img-fluid" /></div>
                }

            </div>
        </div>
    </div>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
