@using BookShop.Web.Client.Models;
@using Microsoft.AspNetCore.Authorization;
@model UserListModel
@inject IAuthorizationService _IAuthorizationService
@{
    var isAdmin = (await _IAuthorizationService.AuthorizeAsync(User, "ManagerMenu")).Succeeded;
    
    ViewData["Title"] = "Danh sách các thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
   
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage"></partial>
@if (isAdmin)
{
    <a asp-action="Create">Thêm nhân viên</a>
}
@* <p>Tổng số thành viên: @Model.totalUsers</p> *@
<div class="col">
    <div class="col-4">
        <select class="form-select" id="sortop" name="sortop" >
            <option value="0">Tất cả các thành viên</option>
            <option value="1">Danh sách khách hàng</option>
            <option value="2">Danh sách nhân viên</option>
        </select>
    </div>
    
</div>


<table class="table">
    <tr>
        <th>Tên user</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-action="AddRole" asp-route-id="@user.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-action="AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
            </td>
            <td>
               
                @if (isAdmin)
                {
                    <a class="btn btn-success btn-sm" asp-action="SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@user.Id">Xem</a>
                }              
            </td>
        </tr>
    }
</table>

<partial name="_Paging" model="@ViewBag.pagingmodel" />

<script>
    var urlParams = new URLSearchParams(window.location.search);
    var sortopValue = urlParams.get('sortop');
    document.getElementById('sortop').value = sortopValue;
    document.getElementById('sortop').addEventListener('change', function () {
        var selectedValue = this.value;
        window.location.href = '/manageuser/index?p=1&sortop=' + selectedValue;
    });
</script>