@using BookShop.Web.Client.Models;
@model UserListModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage"></partial>
<p>Tổng số thành viên: @Model.totalUsers</p>
<div class="col">
    <div class="col-4">
        <select class="form-select" id="exampleSelect" aria-label="Example select">
            <option selected>Tất cả các thành viên</option>
            <option value="option1"><a asp-action="Index" asp-controller="Home" asp-route-Idselect="1" >Danh sách khách hàng</a></option>
            <option value="option2"><a asp-action="Index" asp-controller="Home" asp-route-Idselect="2">Danh sách nhân viên</a></option>
        </select>
    </div>
    
</div>

<table class="table">
    <tr>
        <th>Tên user</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-action="AddRole" asp-route-id="@user.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-action="AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-action="SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
            </td>
        </tr>
    }
</table>

@{
    var pagingmodel = new PagingModel()
    {
        currentpage = Model.currentPage,
        countpages = Model.countPages,
        generateUrl = (int? p) => Url.Action("Index", new { p = p})
    };
}

<partial name="_Paging" model="@pagingmodel" />

