@using BookShop.BLL.ConfigurationModel.CategoryModel
@model BookShop.BLL.ConfigurationModel.GenreModel.updateGenreModel

@{
    ViewData["Title"] = "Edit";
	List<CategoryModel> categorys =  ViewBag.Categorys;
}

<h1>Update Genre</h1>

@using (Html.BeginForm(FormMethod.Post))
{
	<div style="width: 500px">
		<div class="form-group">
			<input asp-for="Id" hidden />
		</div>
        <div class="form-group">
		@Html.Label("Tên thể loại")
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control short" })
		</div>

		<div class="form-group">
			@Html.Label("Index")
			@Html.TextBoxFor(m => m.Index, new { @class = "form-control short" })
		</div>

		<div class="form-group">
			@Html.Label("Danh mục")
			@Html.DropDownListFor(m => m.Id_Category, new SelectList(categorys, "Id","Name"), "-- Select Collection --", new { @class = "form-control chosen-				select" })

		</div>
    </div>
	<br></br>
	<button type="submit" class="btn btn-primary">Save</button>
}
