@using BookShop.BLL.ConfigurationModel.AuthorModel;
@using BookShop.BLL.ConfigurationModel.GenreModel;
@using BookShop.BLL.ConfigurationModel.ProductModel;
@using BookShop.BLL.ConfigurationModel.SupplierModel;


@{
	List<AuthorModel> authorList = ViewBag.Author;
	List<GenreModel> genreList = ViewBag.Genre;
	List<SupplierViewModel> supplierList = ViewBag.Supplier;
}
<style>
	.filter-content {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 10px
	}


	.filter_left {
		grid-column: 1/2;
		display: block;
		gap: 10px;
		background-color: white;
		font-family: "Poppins", sans-serif;
	}

	.filter_right {
		background-color: white;
		grid-column: 2/5;
		display: grid;
		padding: 0 10px;
		position: relative;
		gap: 10px;
	}

	.card-title-right {
		grid-column: 1/5;
		grid-row: 1/1;
	}


	.product-image {
		width: 100%;
	}

	img {
		width: 100%;
	}

	.product-box:hover {
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
	}

	.card-title {
		padding-left: 10px;
		display: flex;
		justify-content: space-between;
	}

	.card-title-left p {
		margin-top: inherit;
		margin-bottom: inherit;
	}

	.card-title-left {
		position: relative;
		display: flex;
		line-height: 60px;
		font-size: 20px;
		justify-content: center;
		font-weight: 600;
		text-align: center;
		color: #C92127;
		border-bottom: 2px solid #f6f6f6;
	}

	.card-title {
		color: black;
		justify-content: start;
		font-size: 16px;
		font-weight: 600;
		display: block;
	}

	li {
		font-weight: 500;
		font-size: 14px;
		list-style: none;
	}

	ul {
		padding-right: 5px;
		padding-left: 0;
		font-weight: 100;
		font-size: 13px;
	}

	.author, .genre, .category, .supplier {
		border-bottom: 2px solid #f6f6f6;
	}

	.filter-content .search-bar {
		gap: 40px;
		justify-content: center;
		position: absolute;
		top: 10px;
		display: flex;
	}

	.fl {
		margin-top: 80px;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 5px;
	}

	.km-sp {
		font-weight: 700;
		font-size: 14px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		display: flex;
		height: 30px;
		width: 40px;
		color: white;
		border-radius: 6px;
		background-color: #C92127;
	}

	.filter .testsp p {
		font-size: 14px;
		font-weight: 700;
	}

	.filter .giaban {
		height: 30px;
		align-items: center;
		display: flex;
		gap: 10px;
	}

		.filter .giaban p {
			color: #C92127;
			margin-bottom: 0;
		}

	.ttsp {
		margin-top: 10px;
		font-size: 14px;
		font-weight: 700;
		min-height: 42px;
		line-height: 1.4;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		display: -webkit-box;
	}

	.filter .testsp:hover {
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
	}

	.filter .testsp {
		padding: 10px;
	}

	a.deplam {
		display: flex;
		font-size: 13px;
		padding-right: 20px;
		color: #CC0000;
		justify-content: center;
	}

	.ttsp a {
		color: inherit;
	}

	input#price {
		width: 95%;
	}

	.giabandau p {
		color: #DCDCDC;
		text-decoration: line-through;
	}

	.card-title-left a.aa {
		right: 10px;
		top: 20px;
		position: absolute;
		font-size: 13px;
	}
</style>
<div class="filter">
	<div class="container">
		<div class="filter-content">
			<div class="filter_left">
				<div class="card-title-left">
					<p>
						LỌC THEO
					</p>
					<a class="aa" href="javascript:" id="reloadButton">Làm mới</a>
				</div>
				<div class="author">
					<div class="card-title">
						<p>
							Tác giả (@(authorList.Count()))
						</p>
						<ul class="showmore">
							@foreach (var item in authorList)
							{

								<li>
									<input onclick="tacgiasearch(this)" value="@item.Id" type="checkbox" /> @item.Name
								</li>

							}
						</ul>
						<a href="javascript:" class="deplam" onclick="tacgiashow()">Xem thêm</a>
					</div>
				</div>
				<div class="genre">
					<div class="card-title">
						<p>
							Thể loại (@(genreList.Count()))
						</p>
						<ul class="showmore2">
							@if (genreList.Count < 18)
							{
								@foreach (var item in genreList)
								{

									<li class="active">
										<input onclick="theloaisearch(this)" value="@item.Id" type="checkbox" /> @item.Name
									</li>
								}
							}
							else
							{
								@foreach (var item in genreList)
								{

									<li>
										<input onclick="theloaisearch(this)" value="@item.Id" type="checkbox" /> @item.Name
									</li>
								}
							}
						</ul>
						<a href="javascript:" class="deplam" onclick="theloaishow()">Xem thêm</a>
					</div>
				</div>

				<div class="supplier">
					<div class="card-title">
						<p>
							Nhà cung cấp (@(supplierList.Count()))
						</p>
						<ul class="showmore3">
							@foreach (var item in supplierList)
							{
								<li>
									<input onclick="nhaxuatbansearch(this)" value="@item.Id" type="checkbox" /> @item.Name
								</li>
							}
						</ul>
						<a href="javascript:" class="deplam" onclick="nhaxuatbanshow()">Xem thêm</a>
					</div>
				</div>
				<div class="price">
					<div class="card-title">
						<p>
							Giá:
						</p>
						<div id="price-range">

							<input type="range" id="price" name="price" min="0" max="1000000" value="0" step="100" oninput="updatePrice(event)">
							<p id="selected-price">Giá tiền: <span id="price-value">0</span> đến 1.000.000 VND</p>
						</div>
					</div>
				</div>
			</div>
			<div class="filter_right">
				<div class="search-bar">
					<p style="margin-bottom:0" id="soluongsp"> </p>
					<input id="key1" oninput="searchOnEnter(event)" value=" " type="text" placeholder="Tìm kiếm">
				</div>

				<div class="fl" id="listcategory">
				</div>
				<div style="text-align:center" id="buttonContainer"></div>
			</div>

		</div>
	</div>
</div>
<script src="~/js/site.js"></script>
<script>
	function ChiTietSanPham(id) {
		var url = "@Url.Action("ChiTietSanPham", "Home")?id=" + id;
		window.location.href = url;
	}

	function loadData(pageIndex) {
		var keyword = document.getElementById("key1").value;
		var price = document.getElementById("price").value;

		console.log(price);
		var author = authorIdList;
		var genner = gennerIdList;
		var publisher = supplierList;
		console.log(author);
		console.log(genner);
		console.log(keyword)


		$.ajax({
			url: '@Url.Action("Getdata", "SearchAndFilter")',
			type: 'POST',

			data: {
				page: pageIndex,
				keyWord: keyword,
				authorId: author,
				gennerId: genner,
				publishersId: supplierList,
				min: price
			},
			success: function (data) {
				console.log(data);
				var listcategory = $("#listcategory");
				listcategory.empty();
				console.log("Tổng số sản phẩm: " + data.data.length);
				$('#soluongsp').html('Số sản phẩm được tìm thấy: ' + data.data.length);

				data.data.forEach(function (item) {
					var categoryRow =
						'<div class="testsp" onclick="ChiTietSanPham(' + item.id + ')">' +

						'<div class="product-image">' +
						'<div class="flashsale-image-container">' +
						'<img src="' + item.imgUrl + '">' +
						'</div>' +
						'</div>' +
						'<div class="ttsp">' +
						'<a href="javascript:" >' + item.name + '</a>' +

						'</div>' +
						'<div class="giaban">' + '<p>' +
						formatPrice(item.newPrice) + '</p>';
					if (item.saleoff > 0) {
						categoryRow += '<div class="km-sp">' + item.saleoff + "%" + '</div>';
						categoryRow += '</div>';
						categoryRow += '<div class="giabandau">'
							+ '<p>' + formatPrice(item.price) + '</p>' +
							'</div>';
					};

					+ '</div>';
					listcategory.append(categoryRow);
				});
				createPagingButtons(1, data.max, data.page);
			},
			error: function (error) {
				console.log(error);
			}
		});
	};
	$(document).ready(function () {
		loadData(1);
	});
	function searchOnEnter(event) {
		loadData(1);
	}
	document.getElementById('reloadButton').addEventListener('click', function () {
		window.location.href = '/SearchAndFilter';
	});
	function formatPrice(price) {
		const formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		return formattedPrice + ' VND';
	}
	function updatePrice(event) {
		loadData(1);
		var priceSlider = document.getElementById("price");
		var priceValue = document.getElementById("price-value");
		priceValue.innerHTML = formatPrice(priceSlider.value);

	}
	document.addEventListener("DOMContentLoaded", function () {
		var activeLiElements = document.querySelectorAll('li.active');

		activeLiElements.forEach(function (liElement) {
			var inputElement = liElement.querySelector('input[type="checkbox"]');

			if (inputElement) {
				inputElement.click();
			}
		});
	});

	var authorIdList = []
	function tacgiasearch(elment) {

		if (elment.checked) {
			authorIdList.push(elment.value);
		} else {
			var indexToRemove = authorIdList.indexOf(elment.value);
			if (indexToRemove !== -1) {
				authorIdList.splice(indexToRemove, 1);
			}
		}
		loadData(1, '')
	}
	var gennerIdList = []
	function theloaisearch(elment) {
		if (elment.checked) {
			gennerIdList.push(elment.value);
		} else {
			var indexToRemove = gennerIdList.indexOf(elment.value);
			if (indexToRemove !== -1) {
				gennerIdList.splice(indexToRemove, 1);
			}
		}
		loadData(1, '')
	}
	var supplierList = []
	function nhaxuatbansearch(elment) {
		if (elment.checked) {
			supplierList.push(elment.value);
		} else {
			var indexToRemove = supplierList.indexOf(elment.value);
			if (indexToRemove !== -1) {
				supplierList.splice(indexToRemove, 1);
			}
		}
		loadData(1, '')
	}
</script>
<script>
	var maxItems1 = 4;
	var itemsToShow1 = document.querySelectorAll('.showmore li');
	var isExpanded1 = false;
	var a1 = document.querySelector('.author a');

	for (var i = maxItems1; i < itemsToShow1.length; i++) {
		itemsToShow1[i].style.display = 'none';
	}

	function tacgiashow() {
		isExpanded1 = !isExpanded1;

		if (isExpanded1) {
			for (var i = 0; i < itemsToShow1.length; i++) {
				itemsToShow1[i].style.display = 'block';
			}
			a1.textContent = 'Hiển thị ít lại';
		} else {
			for (var i = maxItems1; i < itemsToShow1.length; i++) {
				itemsToShow1[i].style.display = 'none';
			}
			a1.textContent = 'Xem thêm';
		}
	}
</script>

<script>
	var maxItems2 = 4;
	var itemsToShow2 = document.querySelectorAll('.showmore2 li');
	var isExpanded2 = false;
	var a2 = document.querySelector('.genre a');

	for (var i = maxItems2; i < itemsToShow2.length; i++) {
		itemsToShow2[i].style.display = 'none';
	}

	function theloaishow() {
		isExpanded2 = !isExpanded2;

		if (isExpanded2) {
			for (var i = 0; i < itemsToShow2.length; i++) {
				itemsToShow2[i].style.display = 'block';
			}
			a2.textContent = 'Hiển thị ít lại';
		} else {
			for (var i = maxItems2; i < itemsToShow2.length; i++) {
				itemsToShow2[i].style.display = 'none';
			}
			a2.textContent = 'Xem thêm';
		}
	}
</script>
<script>
	var maxItems3 = 4;
	var itemsToShow3 = document.querySelectorAll('.showmore3 li');
	var isExpanded3 = false;
	var a3 = document.querySelector('.supplier a');

	for (var i = maxItems3; i < itemsToShow3.length; i++) {
		itemsToShow3[i].style.display = 'none';
	}

	function nhaxuatbanshow() {
		isExpanded3 = !isExpanded3;

		if (isExpanded3) {
			for (var i = 0; i < itemsToShow3.length; i++) {
				itemsToShow3[i].style.display = 'block';
			}
			a3.textContent = 'Hiển thị ít lại';
		} else {
			for (var i = maxItems3; i < itemsToShow3.length; i++) {
				itemsToShow3[i].style.display = 'none';
			}
			a3.textContent = 'Xem thêm';
		}
	}
</script>
