@model IEnumerable<BookShop.BLL.ConfigurationModel.CartDetailModel.CartDetailViewModel>

@{
    ViewData["Title"] = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        margin: 0px;
        padding: 0px;
    }

    .tt {
        background-color: white;
        border-radius: 10px
    }

    .t1, .col-2 p {
        margin-top: 10px;
    }

    .dssanpham {
        margin-top: 20px;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
    }

    .dsanh {
        display: flex;
    }

    .col-1 input {
        justify-content: center;
        margin: 20px 0;
        padding: 10px;
    }

    .dsanh img {
        height: 120px;
        width: 120px;
    }

    .thongtin {
        margin-left: 10px;
        display: flex;
    }

    .giaban, .giagoc {
        margin-top: 40px;
    }

    .giaban {
        color: red;
    }

    .giagoc {
        margin-left: 10px;
        color: #878683;
        text-decoration: line-through;
    }

    .wrapper {
        border: 1px solid rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer;
    }

        .wrapper span {
            width: 100%;
            text-align: center;
            font-weight: 600;
        }

            .wrapper span.num {
                font-size: 20px;
                border-left: 2px solid rgba(0,0,0,0.2);
                border-right: 2px solid rgba(0,0,0,0.2);
                pointer-events: none;
            }
</style>
<h1>CartDetails</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Product)
            </td>
            <td>
                    @Html.ActionLink("Delete", "RemoveProduct", new { id=item.Id_Product })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <p>Giỏ hàng</p>
</div>
<div class="row">
    <div class="col-8 ">
        <table border="1" id="mytable" class="table tt">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" id="checkAll" onchange="checkAll(this)"></th>
                    <th>Sản Phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody id="mylist">
                @foreach (var item in Model) {
                <tr class="">
                    <td><input type="checkbox" name="checkbox" id="" onchange="turnQtyInput(this)"></td>
                    <td>
                        <div class="dsanh">
                            <!--<img src="~/img/IMG_565456.png"/>-->
                            <div class="thongtin">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </div>
                        </div>
                    </td>
                    <td id="khanh">@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                    <td>
                            <input type="number" value="@Html.DisplayFor(modelItem => item.Quantity)" min="1" onchange="countCost()">
                    </td>
                    <td><span class="cost"></span></td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">TỔNG</td>
                    <td><span id="totalcost"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-4">
        <div>
            List Khuyến Mãi
        </div>
        <div>
            <div>
                <p>Thành Tiền</p>
                <p><span id="totalcost"></span></p>
            </div>
            <div>
                <a type="button" disabled class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="ThanhToan">Thanh Toán</a>
            </div>
        </div>
    </div>
<script>
        var priceRange = document.getElementById("price-range")
        var mylist = document.getElementById("mylist")
        var rows = mylist.getElementsByTagName("tr")
        var cost = document.getElementsByClassName("cost")
        var qty = document.getElementsByName("qty")
        var checkboxes = document.getElementsByName("checkbox")
        var totalcost = document.getElementById("totalcost")
        function turnQtyInput(source) {
            var row = source.parentElement.parentElement
            var qtyInput = row.getElementsByTagName("input")[1]
            if (source.checked == true) {
                qtyInput.disabled = false
            } else {
                qtyInput.disabled = true
                resetCost(source)
            }
        }

        function checkAll(source) {
            for (let i = 0; i < rows.length; i++) {
                checkboxes[i].checked = source.checked
                qty[i].disabled = !source.checked
            }
            resetCost("all")
        }
        function countCost() {
            var sum = 0
            for (let i = 0; i < rows.length; i++) {
                var price = +rows[i].getElementsById("khanh").value
                var tt = qty[i].ariaValueMax * price
                console.log(tt)
                sum += +cost[i].value
                console.log(sum)
            }
            totalcost.innerHTML = "$" + sum
        }

        function resetCost(source) {
            if (source == "all") {
                for (let i = 0; i < rows.length; i++) {
                    //rows[i].getElementsByTagName("input")[1].value = 0
                }
                countCost()
            }
            var row = source.parentElement.parentElement
            row.getElementsByTagName("input")[1].value = 0
            countCost()
        }
</script>
