@model IEnumerable<BookShop.BLL.ConfigurationModel.CartDetailModel.CartDetailViewModel>

@{
    ViewData["Title"] = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CartDetails</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Product)
            </td>
            <td>
                    @Html.ActionLink("Delete", "RemoveProduct", new { id=item.Id_Product })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <button class="btn btn-warning" id="buyNow">Mua ngay</button>
</div>

<script>
    document.getElementById('buyNow').addEventListener('click', function () {
        var url = "@Url.Action("CreateOnlineOrder", "Order")";
        window.location.href = url;
    });
</script>
