@using BookShop.BLL.ConfigurationModel.OrderDetailModel;
@using System.Globalization;
@model BookShop.BLL.ConfigurationModel.OrderModel.OrderViewModel

@{
	ViewData["Title"] = "TRẠNG THÁI ĐƠN HÀNG";
	OrderDetailViewModel details = ViewBag.Details;
	int total = 0;
}
<style>
	.chungttdh {
		background-color: white;
		padding: 10px;
	}

	.dstinhtrangdonhang {
		display: flex;
	}

	.thukhanh {
		margin: 10px;
	}

	.hdsu {
		display: flex;
		margin: 10px;
	}

	.khanhdam {
		font-weight: 700;
	}

	.giacsstthd {
		font-weight: 700;
		color: red;
	}

	.khanhdam2 {
		font-weight: 700;
		font-size: 20px;
	}

	.kods {
		margin-left: 5px;
	}

	.huydonhangttdh {
		margin: auto;
		justify-content: center;
	}
</style>
<div>
	<h4>TRẠNG THÁI ĐƠN HÀNG</h4>
	<hr />
	<div class="row chungttdh">
		<div class="col-4">
			<ul class="ps-0" style="list-style: none">
				@foreach (var item in Model.orderDetails)
				{
					total += (item.Price * item.Quantity);
					<li class="row">
						<div class="col-3 position-relativelative">
							<img class="bg-light" src="@item.Img" style="width: 100%; z-index: 0" />
							<span class="badge" style="color: orange; position: absolute; top: 0; right: 15px; background-color: gray">@item.Quantity</span>
						</div>
						<span class="col-5">@item.NameProduct</span>
						<span class="col-4 giacsstthd">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Price)</span>
					</li>
				}
			</ul>
		</div>
		<div class="col-7 row dstinhtrangdonhang">
			<div class="khanhdam col-12 w-100 d-flex justify-content-center">
				<span>Thông tin đơn hàng</span>
			</div>
			<div class="col-6">
				<div class=" " hidden>
					@Html.DisplayFor(model => model.Id)
				</div>
				<div class="hdsu">
					<span class="fw-bold pe-2">Mã đơn:</span><span>@Model.Code</span>
				</div>
				<div class="hdsu">
					<span class="fw-bold pe-2">Người nhận:</span><span>@Model.Receiver</span>
				</div>
				<div class="hdsu">
					<span class="fw-bold pe-2">Số điện thoại:</span><span>@Model.Phone</span>
				</div>
				<div class="hdsu">
					<span class="fw-bold pe-2">Địa chỉ:</span><span>@Model.Address</span>
				</div>
				<div class="hdsu">
					<span class="fw-bold pe-2">Ghi chú:</span><span>@Model.Description</span>
				</div>
			</div>
			<div class="col-6">
				<div class="kods">
					<div class=" khanhdam">
						<span class="fw-bold">Phí vận chuyển:</span>
					</div>
					<div class="" id="tienship">
						<span>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.Shipfee)</span>
					</div>
					<div class=" khanhdam">
						<span class="fw-bold">Khuyến mãi</span>
					</div>
					<div class="" id="tienkhuyenmai">
						@foreach (var item in Model.orderPromotions)
						{
							<span>@item.NamePromotion</span>
						}
					</div>
					<div class=" khanhdam">
						<span class="fw-bold">Số điểm sử dụng</span>
					</div>
					<div class="" id="tongtatca">
						<span>@Model.PointUsed</span>
					</div>
					<div class=" khanhdam">
						<span class="fw-bold">Thanh toán</span>
					</div>
					<div class="" id="tongtatca">
						<span>@Model.TotalPayment</span>
					</div>
					<div class=" khanhdam">
						<span class="fw-bold">Trạng thái đơn hàng</span>
					</div>
					<div class="">
						<span>@Model.StatusName</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1">
			<div class="btn btn-outline-danger huydonhangttdh" id="deleteOrder" onclick="deleteOrder()" value="Xóa">Hủy đơn</div>
		</div>
	</div>
</div>
<div>
	<a asp-action="Index" asp-controller="Home">Trở lại trang chủ</a>
</div>
<script type="text/javascript">
	function checkStatus() {
		if (@Model.Status >= 3) {
			document.getElementById('deleteOrder').setAttribute('disabled', 'disabled');
		}
	}
	checkStatus();

	function deleteOrder() {

		if (confirm("Nếu bạn hủy đơn thì số điểm bạn đã sử dụng sẽ không được hoàn lại \n Bạn có chắc chắn muốn tiếp tục")) {
			var url = "@Url.Action("Index", "Home")";
			debugger
			$.ajax({
				url: '/Order/DeleteOrder',
				type: 'POST',
				data: { id: @Model.Id },
				success: function (result) {
					if (result.success) {
						alert('Hủy đơn thành công.');
						window.location.href = url;
					} else {
						alert('Hủy đơn thất bại: ' + result.errorMessage);
					}
				},
				error: function (error) {
					alert('Có lỗi xảy ra: ' + error.responseText);
				}
			});
		}
	}
</script>
